body{
    font-family: 'Rubik',sans-serif;
    margin: 0;
    background-color: #e1e1e1;
}

/* nav */
nav{
    background-color: #ffffff;
    height: 10vh;
    display: flex;
}

nav div{
    display: flex;
    align-items: center;
}

nav .nav-kiri{
    flex: 50%;
    padding-left: 100px;
}

nav .nav-kanan{
    flex: 50%;
    padding-right: 100px;
    justify-content: end;
}

nav ul{
    list-style: none;
    margin-left: 20px;
}

nav ul li{
    display: inline;
    margin-right: 40px;
}

nav ul li a{
    color: #000000;
    text-decoration: none;
    font-weight: 400;
}

nav ul li a.bold{
    color: #000000;
    font-weight: 700;
}

nav .nav-kanan a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    background-color: #292929;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

/* index.html */
.container{
    width: 85%;
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
}

.head-card{
    background-color: #ffffff;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 10px #222;
}

.card{
    flex: 70%;
    padding: 20px 0 20px 40px;
}

.card p{
    text-align: justify;
}

.card .click{
    padding: 20px 0;
}

.card .contact{
    background-color: #292929;
    color: #ffffff;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
}

.card .download{
    padding: 8px 20px;
    color: #292929;
    text-decoration: none;
}

.card .icon{
    padding-top: 30px;
}

.card .icon a{
    text-decoration: none;
    color: #292929;
    padding-right: 50px;
}

.head-profil{
    flex: 30%;
    padding: 20px 0;
}

.profil{
    margin: 0 auto;
    box-shadow: 0 0 10px #292929;
    width: 250px;
    border-radius: 10px;
}

.profil h2{
    text-align: center;
    margin-bottom: 0;
}

.profil img{
    border-radius: 10px 10px 0 0;
}

.profil p{
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
}

/* contact.html */
.container-contact{
    width: 700px;
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
}

.container-contact h2{
    text-align: center;
}

.contact-form{
    padding: 10px;
    font-weight: 500
}

.contact-form input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #cccccc;
    border: 0px;
    margin: 10px 0;
}

.contact-form select{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #cccccc;
    border: 0px;
    margin: 10px 0;
}

.contact-form textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #cccccc;
    resize: none;
    height: 100px;
    border: 0px;
    margin: 10px 0;
}

.contact-form button{
    border: 0px;
    background-color: #292929;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    display: block;
    float: right;
    margin-bottom: 50px;
}

/* project.html */
.container-project{
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
}

.project{
    width: 700px;
    margin: 0 auto;
}

.project h2{
    text-align: center;
}

.project-form{
    padding: 10px;
    font-weight: 500;
}

.project-form .label input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #cccccc;
    border: 0px;
    margin: 10px 0;
}

.date{
    display: flex;
}

.start-date{
    flex: 50%;
    margin-right: 10px;
}

.end-date{
    flex: 50%;
    margin-left: 10px;
}

.project-form textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #cccccc;
    resize: none;
    height: 100px;
    border: 0px;
    margin: 10px 0;
}

.project-form .checkbox{
    display: flex;
    margin: 10px 0;
}

.project-form .checkbox .kiri-cek{
    flex: 50%;
}

.project-form .checkbox .kanan-cek{
    flex: 50%;
}

.project-form .input{
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #cccccc;
}

.project-form .upload{
    text-align: end;
    margin: 30px 0;
}

.project-form button{
    border: 0px;
    background-color: #292929;
    padding: 8px 20px;
    border-radius: 25px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
}

/* post */
#content-post{
    width: 100%;
}

#content-post .h2{
    text-align: center;
}

.project-post{
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    box-sizing: border-box;
}
.head-post{
    padding: 17px;
    width: 30%;
}

.post a{
    text-decoration: none;
    color: #222;
}

.post{
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.post h2{
    margin: 0;
    padding-top: 10px;
    height: 30px;
}

.post .duration{
    margin: 0;
    padding: 10px 0;
}

.post .gambar{
    text-align: center;
}

.post .img{
    width: 280px;
    height: 280px;
    border-radius: 10px;
    margin: 0;
    background-color: #e1e1e1;
    border: 1px solid #222;
}

.post .description{
    overflow: auto;
    width: 280px;
    height: 100px;
}

.post .icon{
    height: 40px;
}

.calendar{
    color: #222;
}

.clock{
    color: #222;
}

.html{
    color: #f06529;
}

.css{
    color: #2965f1;
}

.js{
    color: #f0db4f;
}

.node{
    color: #3c873a;
}

.post .icon i{
    padding: 10px 20px 10px 0;
}

.post .upload{
    padding-top: 5px;
    display: flex;
}

.post .upload .edit{
    flex: 50%;
    margin: 10px 10px 0 0;
    border: 0px;
    background-color: #fff;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid #292929;
}

.post .upload .delete{
    flex: 50%;
    margin: 10px 0 0 10px;
    border: 0px;
    background-color: #c42426;
    padding: 8px 20px;
    border-radius: 10px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    border: 2px solid #c42426;
}

/* detail-project.css */
.container-detail{
    height: 90vh;
    margin: 0 auto;
    margin-top: 30px;
}

.container-detail .detail{
    width: 85%;
    margin: auto;
    padding: 20px 0 50px 0;
}

.container-detail h2{
    text-align: center;
}

.detail p{
    text-align: justify;
}

.detail .head-detail{
    display: flex;
}

.head-detail .img{
    flex: 60%;
}

.head-detail .img img{
    height: 300px;
}

.head-detail .tools{
    flex: 40%;
}

.tools ul{
    list-style: none;
    padding-left: 20px;
}

.tools ul li{
    padding: 10px 0;
}

.tools p{
    padding-left: 20px;
    margin: 0;
}

.tools span{
    padding-left: 10px;
}

.tech .icon{
    display: flex;
}

.icon .kiri{
    flex: 30%;
}

.icon .kanan{
    flex: 70%;
}
